<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Listaa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

<style>
form{
  padding-top: 9px;
}
</style>
</head>

<body>
<div style="margin:auto;max-width:400px">
<h1  >Listaa levyt</h1>
		 <a class="btn-success btn-sm" href="/lisaaLevy">Lisää levy</a> 
		 <a class="btn-success btn-sm" href="/lisaaArtisti">Lisää artisti</a> 
		 <a class="btn-success btn-sm" href="/lisaaFormaatti">Lisää formaatti</a> 
<form class="haku" action="/haku" >
  <input type="text" placeholder="Hae.." name="haku">
  <button type="submit" class="btn btn-primary">Etsi</button>
</form><br>
</div><br>

<table table class="table table-hover">
	<tbody>
	
		<tr>
			<th>Nimi</th>
		    <th>Artisti</th>
		    <th>Kesto</th>
		    <th>Vuosi</th>
		    <th>Formaatti</th>
		    <th>Info</th>
		    <th>ID</th>
		    <th></th>
		    <th></th>
		</tr>
		<tr th:each ="levyt:${levyt}">
			<td th:text="${levyt.nimi}"></td>
			<td th:text="${levyt.artisti.nimi}"></td>
			<td th:text="${levyt.kesto}"></td>
			<td th:text="${levyt.vuosi}"></td>
			<td th:text="${levyt.formaatti.nimi}"></td>
			<td th:text="${levyt.info}"></td>
			<td th:text="${levyt.levy_id}"></td>
 			<td><a  class="btn btn-danger"  th:href="@{/delete/{id}(id=${levyt.levy_id})}">Poista</a></td>
 			<td><a class="btn btn-info" th:href="@{/update/{id}(id=${levyt.levy_id})}">Muokkaa</a></td> 
		</tr>
	</tbody>	
</table>

</body>
</html>